<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">

body {
	background-color: #CCCCCC;
	margin: 0px 0px 0px 0px;
}

</style>
<link href="/stylesheets/menue.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/content.css" rel="stylesheet" type="text/css" />

<script language="JavaScript">
<!--

function doLoad()
{
    setTimeout( "refresh()", 1000 );
}

function refresh()
{
    top.leftFrame.document.location = '/main/menue';
}
//-->
</script>

</head>


<% if @nutzer %>
<body>



<div align="center">
<br /><br />
<h1>Péréquation</h1>
<br /><br />
&nbsp;Sie sind eingelogt als: &nbsp;<%= @nutzer.name %>
</div>

<br /><br />



<div class="mainmenue_footer">&nbsp;</div>
<div><a class="mainmenue" href="/gains" target="mainFrame">eigene Einnahmen</a></div>
<div><a class="mainmenue" href="/gains/list/all" target="mainFrame">alle Einnahmen</a></div>
<div><a class="mainmenue" href="/gains/list/future" target="mainFrame">zu erwartende Einnahmen</a></div>

<div class="mainmenue_footer">&nbsp;</div>
<div><a class="mainmenue" href="/expenses" target="mainFrame">eigene Ausgaben</a></div>
<div><a class="mainmenue" href="/expenses/list/all" target="mainFrame">alle Ausgaben</a></div>
<div><a class="mainmenue" href="/expenses/list/future" target="mainFrame">zu erwartende Ausgaben</a></div>

<div class="mainmenue_footer">&nbsp;</div>
<div><a class="mainmenue" href="/main/abrechnungen" target="mainFrame">Abrechnungen</a></div>

<div class="mainmenue_footer" style="height:50px">&nbsp;</div>
<div><a class="mainmenue" href="/main/logout" target="mainFrame" onclick="doLoad();">ausloggen</a></div>
<br />
<!--<p><a href="/statements" target="mainFrame">Statistiken</a></p>
<br />-->

 <% if @nutzer.name == "kaazoo" %>
 <p><a href="/users" target="mainFrame">Nutzer</a></p>
 <% end %>
 
<% else %>
<body onload="top.mainFrame.document.location = '/gains'">

<p>bitte einloggen</p>

<% end %>
<br />
<!--
&nbsp;<%= @logout_link %> 
-->
</body>
</html>
