<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">

body {
	background-color: #CCCCCC;
	margin: 0px 0px 0px 0px;
}

</style>
<link href="/stylesheets/menue.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/content.css" rel="stylesheet" type="text/css" />

<script language="JavaScript">
<!--

function doLoad()
{
    setTimeout( "refresh()", 1000 );
}

function refresh()
{
    top.leftFrame.document.location = '<%= url_for(:controller => "main", :action => "menue") %>';
}
//-->
</script>

</head>


<% if @nutzer %>
<body>


<div align="center">
<br /><br />
<h1>Péréquation</h1>
<br /><br />
&nbsp; <%= t(:logged_in) %>: &nbsp;<%= @nutzer.name %>
</div>

<br /><br />
<div align="right">
<%= t(:lang) %>: 
<% if params[:locale] == "en" %>
 <b><%= link_to "EN", "/?locale=en", :target => "_top" %></b>
<% else %>
 <%= link_to "EN", "/?locale=en", :target => "_top" %>
<% end %>

<% if params[:locale] == "fr" %>
 <b><%= link_to "FR", "/?locale=fr", :target => "_top" %></b>
<% else %>
 <%= link_to "FR", "/?locale=fr", :target => "_top" %>
<% end %>


<% if params[:locale] == "de" %>
 <b><%= link_to "DE", "/?locale=de", :target => "_top" %></b>
<% else %>
 <%= link_to "DE", "/?locale=de", :target => "_top" %>
<% end %>

&nbsp;&nbsp;
</div>

<div class="mainmenue_footer">&nbsp;</div>
<div><%= link_to t(:own_gains), { :controller => "gains" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to t(:all_gains), { :controller => "gains", :action => "list", :id => "all" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to t(:future_gains), { :controller => "gains", :action => "list", :id => "future" }, :class => "mainmenue", :target => "mainFrame" %></div>

<div class="mainmenue_footer">&nbsp;</div>
<div><%= link_to t(:own_expenses), { :controller => "expenses" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to t(:all_expenses), { :controller => "expenses", :action => "list", :id => "all" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to t(:future_expenses), { :controller => "expenses", :action => "list", :id => "future" }, :class => "mainmenue", :target => "mainFrame" %></div>

<div class="mainmenue_footer">&nbsp;</div>
<div><%= link_to t(:statements), { :controller => "main", :action => "abrechnungen" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to t(:statements), { :controller => "statements" }, :class => "mainmenue", :target => "mainFrame" %></div>

<div class="mainmenue_footer">&nbsp;</div>
<div><%= link_to t(:statistic_month), { :controller => "main", :action => "statistic_month" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to t(:statistic_year), { :controller => "main", :action => "statistic_year" }, :class => "mainmenue", :target => "mainFrame" %></div>

<div class="mainmenue_footer" style="height:50px">&nbsp;</div>
<div><%= link_to t(:logout), { :controller => "main", :action => "logout" }, :target => "mainFrame" , :class => "mainmenue", :onclick => "doLoad();" %></div>

<br />
<!--<p><a href="/statements" target="mainFrame">Statistiken</a></p>
<br />-->

 <% if @nutzer.name == "kaazoo" %>
 <p><a href="/users" target="mainFrame">Nutzer</a></p>
 <% end %>
 
<% else %>
<body onload="top.mainFrame.document.location = '<%= url_for(:controller => 'gains') %>'">

<p align="center"><%= t(:please_login) %></p>

<% end %>
<br />

</body>
</html>
