<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">

body {
	background-color: #CCCCCC;
	margin: 0px 0px 0px 0px;
}

</style>
<link href="/stylesheets/menue.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/content.css" rel="stylesheet" type="text/css" />

<script language="JavaScript">
<!--

function doLoad()
{
    setTimeout( "refresh()", 1000 );
}

function refresh()
{
    top.leftFrame.document.location = '<%= url_for(:controller => "main", :action => "menue") %>';
}
//-->
</script>

</head>


<% if @nutzer %>
<body>


<div align="center">
<br /><br />
<h1>Péréquation</h1>
<br /><br />
&nbsp;Sie sind eingelogt als: &nbsp;<%= @nutzer.name %>
</div>

<br /><br />

<div class="mainmenue_footer">&nbsp;</div>
<div><%= link_to "eigene Einnahmen", { :controller => "gains" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to "alle Einnahmen", { :controller => "gains", :action => "list", :id => "all" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to "zu erwartende Einnahmen", { :controller => "gains", :action => "list", :id => "future" }, :class => "mainmenue", :target => "mainFrame" %></div>

<div class="mainmenue_footer">&nbsp;</div>
<div><%= link_to "eigene Ausgaben", { :controller => "expenses" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to "alle Ausgaben", { :controller => "expenses", :action => "list", :id => "all" }, :class => "mainmenue", :target => "mainFrame" %></div>
<div><%= link_to "zu erwartende Ausgaben", { :controller => "expenses", :action => "list", :id => "future" }, :class => "mainmenue", :target => "mainFrame" %></div>

<div class="mainmenue_footer">&nbsp;</div>
<div><%= link_to "Abrechnungen", { :controller => "main", :action => "abrechnungen" }, :class => "mainmenue", :target => "mainFrame" %></div>

<div class="mainmenue_footer" style="height:50px">&nbsp;</div>
<div><%= link_to "ausloggen", { :controller => "main", :action => "logout" }, :target => "mainFrame" , :class => "mainmenue", :onclick => "doLoad();" %></div>

<br />
<!--<p><a href="/statements" target="mainFrame">Statistiken</a></p>
<br />-->

 <% if @nutzer.name == "kaazoo" %>
 <p><a href="/users" target="mainFrame">Nutzer</a></p>
 <% end %>
 
<% else %>
<body onload="top.mainFrame.document.location = '<%= url_for(:controller => 'gains') %>'">

<p>bitte einloggen</p>

<% end %>
<br />

</body>
</html>
