<h1>Einnahme editieren</h1>

<% form_for :gain, @gain, :url => { :action => "update", :id => @gain.id } do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'speichern' %>
<% end %>

<%= link_to 'Anzeigen', :action => 'show', :id => @gain %> |
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
