<h1>Ausgabe editieren</h1>

<% form_for :expense, @expense, :url => { :action => "update", :id => @expense.id } do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'speichern' %>
<% end %>

<%= link_to 'Anzeigen', :action => 'show', :id => @expense %> |
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
