<% for column in Expense.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @expense.send(column.name) %>
</p>
<% end %>

<%= link_to 'Editieren', :action => 'edit', :id => @expense %> |
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
