<html>
<head>
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body onload="top.leftFrame.document.location.reload();">

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
